In [105]:
import pandas as pd
import numpy as np
import pickle
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import  r2_score
from sklearn import *

In [106]:
df=pd.read_csv('Housing.csv')

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [7]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [108]:
df.loc[df["mainroad"]=="yes","mainroad"]=1
df.loc[df["mainroad"]=="no","mainroad"]=0

In [109]:
df.loc[df["guestroom"]=="yes","guestroom"]=1
df.loc[df["guestroom"]=="no","guestroom"]=0
df.loc[df["basement"]=="yes","basement"]=1
df.loc[df["basement"]=="no","basement"]=0
df.loc[df["hotwaterheating"]=="yes","hotwaterheating"]=1
df.loc[df["hotwaterheating"]=="no","hotwaterheating"]=0
df.loc[df["airconditioning"]=="yes","airconditioning"]=1
df.loc[df["airconditioning"]=="no","airconditioning"]=0
df.loc[df["prefarea"]=="yes","prefarea"]=1
df.loc[df["prefarea"]=="no","prefarea"]=0
df.loc[df["furnishingstatus"]=="furnished","furnishingstatus"]=1
df.loc[df["furnishingstatus"]=="unfurnished","furnishingstatus"]=0
df.loc[df["furnishingstatus"]=="semi-furnished","furnishingstatus"]=2

In [110]:
df["basement"]=df["basement"].astype(int)

In [111]:
df["hotwaterheating"]=df["hotwaterheating"].astype(int)
df["mainroad"]=df["mainroad"].astype(int)
df["guestroom"]=df["guestroom"].astype(int)
df["airconditioning"]=df["airconditioning"].astype(int)
df["prefarea"]=df["prefarea"].astype(int)
df["furnishingstatus"]=df["furnishingstatus"].astype(int)

In [173]:
x=df[["area","bedrooms","bathrooms","stories","mainroad","guestroom","basement","hotwaterheating","airconditioning","parking","prefarea","furnishingstatus"]]
y=df["price"]

In [174]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=42)

In [175]:
model3= LinearRegression()

In [176]:
model3.fit(x_train,y_train)

LinearRegression()

In [177]:
pred = model3.predict(x_test)

In [178]:
r2_score(y_test,pred)

0.6933974591541634

In [179]:
with open('model3.pkl','wb') as files:
    pickle.dump(model3,files)